<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/pokemon">Back to Home Page</a>
    </nav>

    <ul>

        <img src="<%=data.img%>" alt="">
        <li>NAME: <%=data.name%>
        </li>
        <li>TYPE: <%=data.type%>
        </li>
        <li>HP: <%=data.stats.hp%>
        </li>
        <li>ATTACK: <%=data.stats.attack%>
        </li>
        <li>DEFENSE: <%=data.stats.defense%>
        </li>
        <li>SPATTACK: <%=data.stats.spattack%>
        </li>
        <li>SPDEFENSE: <%=data.stats.spdefense%>
        </li>
        <li>SPEED:<%=data.stats.speed%>
        </li>




    </ul>
    <form action="/pokemon/pokemon._id?_method=DELETE" method="post">
        <input type="submit" value="DELETE" />
    </form>
    <a href="/pokemon/<%=index%>/edit">EDIT</a>

</body>

</html>